In [5]:
person = {
    "first": "Sumit",
    "last": "Ghosh",
    "email": "sumitghosh@gmail.com"
}

In [6]:
people = {
    "first": ["Sumit"],
    "last": ["Ghosh"],
    "email": ["sumitghosh@gmail.com"]
}

In [7]:
people = {
    "first": ["Sumit","Paritosh","Ritavash"],
    "last": ["Ghosh","Malikh","Debnath"],
    "email": ["sumitghosh@gmail.com","paritoshmalikh@gmail.com","ritavashdebnath@gmail.com"]
}

In [8]:
people['email']

['sumitghosh@gmail.com',
 'paritoshmalikh@gmail.com',
 'ritavashdebnath@gmail.com']

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(people)

In [11]:
df

      first     last                      email
0     Sumit    Ghosh       sumitghosh@gmail.com
1  Paritosh   Malikh   paritoshmalikh@gmail.com
2  Ritavash  Debnath  ritavashdebnath@gmail.com

In [12]:
df['email']

0         sumitghosh@gmail.com
1     paritoshmalikh@gmail.com
2    ritavashdebnath@gmail.com
Name: email, dtype: object

In [13]:
type(df['email'])

pandas.core.series.Series

In [14]:
df.email

0         sumitghosh@gmail.com
1     paritoshmalikh@gmail.com
2    ritavashdebnath@gmail.com
Name: email, dtype: object

In [15]:
df[['last','email']]

      last                      email
0    Ghosh       sumitghosh@gmail.com
1   Malikh   paritoshmalikh@gmail.com
2  Debnath  ritavashdebnath@gmail.com

In [16]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [17]:
df.iloc[0]

first                   Sumit
last                    Ghosh
email    sumitghosh@gmail.com
Name: 0, dtype: object

In [18]:
df.iloc[[0,1]]

      first    last                     email
0     Sumit   Ghosh      sumitghosh@gmail.com
1  Paritosh  Malikh  paritoshmalikh@gmail.com

In [19]:
df.iloc[[0,1],2]

0        sumitghosh@gmail.com
1    paritoshmalikh@gmail.com
Name: email, dtype: object

In [21]:
df

      first     last                      email
0     Sumit    Ghosh       sumitghosh@gmail.com
1  Paritosh   Malikh   paritoshmalikh@gmail.com
2  Ritavash  Debnath  ritavashdebnath@gmail.com

In [20]:
df.loc[0]

first                   Sumit
last                    Ghosh
email    sumitghosh@gmail.com
Name: 0, dtype: object

In [22]:
df.loc[[1,2]]

      first     last                      email
1  Paritosh   Malikh   paritoshmalikh@gmail.com
2  Ritavash  Debnath  ritavashdebnath@gmail.com

In [23]:
df.loc[[1,2],'email']

1     paritoshmalikh@gmail.com
2    ritavashdebnath@gmail.com
Name: email, dtype: object

In [25]:
df.loc[[1,2],['email','last']]

                       email     last
1   paritoshmalikh@gmail.com   Malikh
2  ritavashdebnath@gmail.com  Debnath